.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 1em;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem, .container__frase {
    padding: 1em;
}
.container__titulo, .container__frase {
    display: none;
}

@media screen and (min-width: 820px) {
    .container__titulo, .container__titulo--negrito {
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
}
@media screen and (min-width: 1024px){
    .container__frase{
        padding-left: 5em;
        font-size: 20px;
        display: block;
    }
}